<div class="row">
  <div class="col-12 col-sm-3 d-none d-sm-block">
    <span class="badge bg-secondary text-white">{{ dates }}</span>
  </div>
  <div class="col-12 col-sm-9">
    <h3 class="mb-0">{{ title }}</h3>
    <p class="text-secondary mb-0">
      {{ company }}, {{ location }}
      <span>
        <a [href]="link" target="_blank">
          <i class="bi bi-box-arrow-up-right"></i>
        </a>
      </span>
    </p>
    <span class="d-inline-block d-sm-none badge bg-secondary text-white">{{
      dates
    }}</span>
    <ul class="mt-2">
      <li *ngFor="let responsibility of responsibilities">
        {{ responsibility }}
      </li>
    </ul>
  </div>
</div>
