<div class="hero"></div>
<div class="container p-relative">
  <div class="row">
    <div class="col-4 profile-sidebar">
      <section>
        <div class="profile-image-container col-9">
          <img class="profile-image" src="assets/images/profile.png" />
        </div>
        <h1 class="text-primary">Jan Werren</h1>
        <h2>ICT Software Engineer</h2>

        <p>Spezialisiert auf Applikationsentwicklung und Web-Anwendungen</p>
      </section>

      <section>
        <nav>
          <ul class="profile-navigation">
            <li
              [ngClass]="{ active: isActive('about-me') || isActive('start') }"
              (click)="onNavigationClick('about-me')"
            >
              Über mich
            </li>
            <li
              [ngClass]="{ active: isActive('work-experience') }"
              (click)="onNavigationClick('work-experience')"
            >
              Berufserfahrung
            </li>
            <li
              [ngClass]="{ active: isActive('education') }"
              (click)="onNavigationClick('education')"
            >
              Ausbildung
            </li>
            <li
              [ngClass]="{ active: isActive('skills') }"
              (click)="onNavigationClick('skills')"
            >
              Skills
            </li>
            <li
              [ngClass]="{ active: isActive('certificats') }"
              (click)="onNavigationClick('certificats')"
            >
              Zertifikate und Erfolge
            </li>
          </ul>
        </nav>
      </section>
    </div>

    <div class="col-7 offset-1 pt-3">
      <section class="mt-5" id="about-me">
        <h2 class="text-primary">Über mich</h2>
        <p>
          Erfahrener ICT Software Engineer mit Fokus auf die Entwicklung und
          Optimierung von Web-Anwendungen bei der Schweizerischen Post.
        </p>
        <p>
          Mit über 5 Jahren Berufserfahrung in der Applikationsentwicklung setze
          ich innovative Technologien ein, um skalierbare und nutzerfreundliche
          Lösungen zu schaffen.
        </p>

        <a
          href="https://www.linkedin.com/in/jan-werren"
          target="_blank"
          class="btn btn-outline-dark me-2"
          ><i class="bi bi-linkedin"></i
        ></a>
        <a
          href="https://www.github.com/Janobob"
          target="_blank"
          class="btn btn-outline-dark me-2"
          ><i class="bi bi-github"></i
        ></a>
        <a
          href="mailto:jan.werren@outlook.com&subject=Kontaktanfrage"
          class="btn btn-outline-dark me-2"
          ><i class="bi bi-envelope"></i
        ></a>
      </section>

      <section class="mt-5" id="work-experience">
        <h2 class="text-primary">Berufserfahrung</h2>

        <div class="row">
          <div class="col-3">
            <p class="text-muted">Juni 2020 - Heute</p>
          </div>
          <div class="col-9">
            <h3>ICT Software Engineer</h3>
            <p class="text-secondary">
              Die Schweizerische Post , Bern
              <span>
                <a href="https://www.post.ch" target="_blank">
                  <i class="bi bi-box-arrow-up-right"></i>
                </a>
              </span>
            </p>
            <ul>
              <li>Standortsuche (places.post.ch)</li>
              <li>
                Interne Applikation für Verwaltung von Business Flows im Bereich
                Revisionen und Finanzen
              </li>
              <li>Weiterentwicklung des internen Inkasso-Tools</li>
              <li>Beratungstool für Mitarbeiter der Post-Filialen</li>
              <li>
                Custom Video Content Management System (Ablösung für die
                vorherige Screenfood-Lösung)
              </li>
            </ul>
          </div>

          <div class="col-3">
            <p class="text-muted">July 2019 - Juni 2020</p>
          </div>
          <div class="col-9">
            <h3>ICT Software Engineer & Lehrlingsbetreuer</h3>
            <p class="text-secondary">
              Die Schweizerische Post , Bern
              <span>
                <a href="https://www.post.ch" target="_blank">
                  <i class="bi bi-box-arrow-up-right"></i>
                </a>
              </span>
            </p>
            <ul>
              <li>
                Begleitung und Führung von Lehrlingen bei interne Projekte
              </li>
              <li>Code Repositories und Pipelines bereitstellen & pflegen</li>
              <li>
                Administrative Aufgaben für die Betreuung der Lehrlinge und
                Hilfe der Coaches
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="mt-5" id="education">
        <h2 class="text-primary">Ausbildung</h2>

        <div class="row">
          <div class="col-3">
            <p class="text-muted">September 2022 - Heute</p>
          </div>
          <div class="col-9">
            <h3>Bachelor's degree, Informatik</h3>
            <p class="text-secondary">
              FHNW - Fachhochschule Nordwestschweiz, Windisch
              <span>
                <a href="https://www.fhnw.ch" target="_blank">
                  <i class="bi bi-box-arrow-up-right"></i>
                </a>
              </span>
            </p>
          </div>

          <div class="col-3">
            <p class="text-muted">August 2019 - July 2021</p>
          </div>
          <div class="col-9">
            <h3>Technische Berufsmaturität, Technik</h3>
            <p class="text-secondary">
              gibb - Gewerblich-Industrielle Berufsschule Bern, Bern
              <span>
                <a href="https://www.gibb.ch" target="_blank">
                  <i class="bi bi-box-arrow-up-right"></i>
                </a>
              </span>
            </p>
          </div>

          <div class="col-3">
            <p class="text-muted">August 2015 - July 2019</p>
          </div>
          <div class="col-9">
            <h3>Informatiker EFZ, Fachrichtung Appliationsentwickler</h3>
            <p class="text-secondary">
              gibb - Gewerblich-Industrielle Berufsschule Bern, Bern
              <span>
                <a href="https://www.gibb.ch" target="_blank">
                  <i class="bi bi-box-arrow-up-right"></i>
                </a>
              </span>
            </p>
          </div>
        </div>
      </section>

      <section id="skills">
        <h2 class="text-primary">Skills</h2>
      </section>

      <section id="certificats">
        <h2 class="text-primary">Zertifikate und Erfolge</h2>
      </section>
    </div>
  </div>
</div>
